@import "../../index.css";

.faq-wrpost {
  max-width: 1200px;
  margin: 0 auto 60px;
  width: 90%;
}

.faq-wrpost__section {
  border: 1px solid var(--color-gray-secondary--);
  padding: 16px 20px;
  margin: 20px 10px;
  border-radius: 4px;
}

.faq-wrpost__heading {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.faq-wrpost__tip {
  font-size: 15px;
  margin-left: 10px;
}

.faq-wrpost__input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 15px;
  padding: 6px 16px;
  border-radius: 3px;
  outline: none;
  margin: 10px 0;
}

.faq-wrpost__input:focus {
  border-color: rgb(89, 164, 222);
  box-shadow: 0px 0px 0px 4px rgba(0, 116, 204, 0.15) ;
  color: rgb(12, 13, 14);
  outline: 0;
}

.faq-wrpost__tags ul {
  display: flex;
  flex-wrap: wrap;
  padding: 6px 16px;
  margin: 12px 0;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.faq-wrpost__tags ul li {
  background-color: rgb(225, 236, 244);
  border: none;
  border-radius: 3px;
  color: rgb(57, 115, 157);
  font-size: 12px;
  padding: 6px 4px 6px 8px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  min-width: 0;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  margin-right: 6px;
}

.faq-wrpost__tags ul li span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-wrpost__tags input {
  flex: 1;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 0;
}

.faq-wrpost__heading .faq-icon {
  cursor: auto;
  margin-left: 0;
}

.faq-wrpost__tags .faq-icon {
  cursor: pointer;
}

.tag-tip {
  opacity: .5;
  border-right: 1px solid var(--color-gray-primary--);
  font-size: 14px;
  margin: 4px 10px 4px 0;
  padding-right: 8px;
}

.remove-all {
  position: absolute;
  right: 3px;
  top: -36px;
  padding: 4px 8px 4px 10px;
  font-size: 13px;
  color: var(--color-red-secondary--);
  background-color: var(--color-red-tertiary--);
  font-weight: 600;
  transition: var(--transition--);
  border: 1px solid var(--color-red-tertiary--);
  z-index: 0;
}

.remove-all:hover {
  background-color: var(--color-white--);
  border: 1px solid var(--color-red-secondary--);
}

.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  height: 400px;
  font-size: 14px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow img {
  width: 500px;
}
