@import "../../index.css";


.faq-post-ovv {
  padding: 30px 0;
  max-width: 70%;
  position: relative;
  margin: 0 auto;
}

.faq-header-blog {
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}

.faq-tags-and-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

}
.faq-title-blog {
  font-size: 4.5rem;
  font-weight: 700;
}

.faq-description {
  font-size: 3.5rem;
}
