@import "../../index.css";

.faq-navbar {
  background-color: var(--color-indigo-primary--);
  color: var(--color-white--);
  font-weight: 700;
  padding: 0 10%;
  text-align: center;
  margin-top: -3px;
}

.faq_navbar nav {
  height: 6rem;
}

.faq-navbar__nav.faq-navbar__nav--selected {
  position: relative;
}

.faq-navbar__nav--selected::before {
  position: absolute;
  content: '';
  display: block;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 60%;
  background-color: var(--color-white--);
}

.faq-navbar__main li {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.faq-navbar__main li p {
  position: relative;
  font-size: 1.5rem;
  transition: color 0.6s ease;
}
